<p id="notice"><%= notice %></p>

<h1>飯店清單</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>名稱</th>
      <th>類型</th>
      <th>代號</th>
      <th>空房數</th>
      <th>說明</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.id %></td>
        <td><%= hotel.name %></td>
        <td><%= hotel.hotel_type.hotel_type_zh %></td>
        <td><%= hotel.code %></td>
        <td><%= hotel.enable_count %>/<%= hotel.total_count %></td>
        <td><%= hotel.description %></td>
        <td><%= link_to '詳細', admin_hotel_path(hotel) %></td>
        <td><%= link_to '編輯', edit_admin_hotel_path(hotel) %></td>
        <td><%= link_to '刪除', admin_hotel_path(hotel), method: :delete, data: { confirm: '確定刪除飯店?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '建立新飯店', new_admin_hotel_path %>
