<!DOCTYPE html>
<html>
  <head>
    <title>Bookii2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to '回首頁', root_path %>
    <% if current_admin %>
      <%= link_to '登出', destroy_admin_session_path, method: 'delete' %>
    <% else %>
      | <%= link_to "管理者登入", new_admin_session_path %>
      <%= link_to "註冊", new_admin_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
